<h1>Sobre</h1>
<div id="sobre_page">
	<p>O Elifex é uma ferramenta de web-marketing para pesquisa de mercado.</p>
	<h2>Participe e concorra</h2>
	<p> É muito simples concorrer a prêmios. Basta se conectar no facebook e votar.</p>
	<h2>Passo a passo</h2>
	
	<ul>
		<li>
			<p>Clique no link  do Facebook acima.</p>
			<%=image_tag("facebook_connect.png")%>
		</li>
		<li>
			<p>Aceite a permissão no Facebook.</p>
		</li>
		<li class="sim_nao">
			<p>Você conhece? Vote em <%=image_tag 'vou.png'%>sim ou <%=image_tag 'nao_vou.png'%>não.</p>
		</li>
		<li>
			<p>Obtenha pontos.</p>
		</li>
		<li>
			<p>Para concorrer entre na página inicial e clique em Prêmios.</p>
		</li>
		<li>
			<p>Escolha a melhor opção e Boa Sorte!</p>
		</li>
	</ul>
</div>