<%= render(:partial => "layouts/perfil") %>

<h1>Premios</h1>

<div class="paging"><%= paginate @premios, :remote => true %></div>

<%= render(:partial => "layouts/premio", :collection => @premios) %>
