<%= render(:partial => "layouts/perfil") %>

<h1>Você conhece?</h1>

<%= render(:partial => "layouts/empresa", :collection => @empresas) %>

<div class="cf"></div>
<div class="paging"><%= paginate @empresas, :remote => true %></div>