<h1>Vote e Concorra a um Ipad</h1>

<%= render(:partial => "layouts/empresa", :collection => @empresas) %>

<div class="cf"></div>

<%content_for :js do%>
$(document).ready(function(){
	setup();
});
<%end%>