<%= render(:partial => "layouts/perfil") %>

<h1>Você conhece? Vote e concorra a um Ipad.</h1>

<!--<div class="paging"></div>-->

<%= render(:partial => "layouts/empresa", :collection => @empresas) %>

<div class="cf"></div>