<h1>Quer um Ipad?</h1>
<h2>Vote e Concorra</h2>

<%= render(:partial => "layouts/empresa", :collection => @empresas) %>

<div class="cf"></div>

<%content_for :js do%>
$(document).ready(function(){
	setup();
});
<%end%>