<%= render(:partial => "layouts/perfil") %>

<h1>Você conhece?</h1>

<div class="paging"><%= paginate @empresas, :remote => true %></div>

<%= render(:partial => "layouts/empresa", :collection => @empresas) %>