<%= render(:partial => "layouts/perfil") %>

<h1>Você conhece?</h1>

<!--<div class="paging"></div>-->

<%= render(:partial => "layouts/empresa", :collection => @empresas) %>

	<% if usuario_signed_in? %>
		<%= render(:partial => "layouts/premio", :collection => @premios) %>
	<%end%>

<div class="cf"></div>