// Place all the styles related to the Empresas controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#empresas{

	h1{
		text-align: center;
	}
	
	div.paging{
		text-align: center;
		font-size:14px;
		margin: 10px 0 0 0;
		nav{
			span{
				a{
					width:100%;
					padding:2px 4px 3px 4px;
					border:solid 1px #DDDDDD;
					text-decoration:none;
				}
				a:hover{
					background:#4A4A4A;
					color: #FAFAFA;
				}
			}
			span.current{
				ont-weight:bold;
			}
		}
	
	}
	
	
	div.empresa{
		width: 94%/3 + 0.368%;
		min-width: 353px;
		margin: 0px 0.3% 0.5% 0.3%;
		float: left;
		position: relative;
		border: 1px solid #4A4A4A;
		border-radius: 8px;
		padding:5px;
		h3{
			text-align: center;
			margin-top: 5px;
		}
		img{
			float: left;
		}
		div.info{
			max-width: 150px;
			width: 46%;
			text-align: center;
			float: left;
			a{
				img{
					float: none;
				}
			}
			p{
				margin: 4px 0 8px 0;
			}
			div.avaliado{
				margin: auto;
				width: 87px;
				div{
					border-radius: 30px;
					padding: 0px;
					padding-top: 5px;
					width: 35px;
					height: 30px;
					float: left;
				}
				div.true{
					background-color: #AAD57C;
					margin-right: 17px;
				}
				div.false{
					background-color: #EB684A;
				}
			}
		}
	}


}
