// Place all the styles related to the Empresas controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#empresas{

	
	
	div.mural{
		background-color: #F0F0F0;
		margin: 0 0 1.5% 1%;
		float: left;
		border: 2px solid #CFC9CF;
		border-radius: 8px;
		padding: 0;
		text-align: center;
		width: 23.4%;
  
		img{
			border-radius: 10px 10px 0 0;
			margin: 1%;
			width: 98%;
		}
		
		
		div.info{
			width: 100%;
			
			a:hover{
				text-decoration:none;
			}
			p{
				margin: auto;
				border-bottom: 1px solid #CCCCCC;
				width: 85%;
				padding: 0 0 10px;
			}
			h3{
				  float: left;
				  margin: 3% 0 0 5%;
				  width: 35%;
			 }
			
			div.avaliado{
				float: left;
				margin: 1% auto;
				padding: 1% 5% 0;
				width: 45%;
				a{
					img{
						border-radius: 8px 8px 8px 8px;
						margin: 0 6% 0 1%;
						width: 40%;
					}
				}
			}
		}
	}

}

div.premio{
			width:100%;
			text-align: center;
			img{
				width: 100%
			}
			div.info{
				width: 40%;
				margin-left: 29%;
				a{
					button{
						color:#555555;
						font-weight:bold;
						height:35px;
						line-height:29px;
						text-decoration:none;
						width:90%;
						cursor: pointer;
					}
				}
				a.disabled{
					opacity: 0.5;
					pointer-events: none;
					cursor: default;
					button{
						pointer-events: none;
						cursor: default;
					}
				}
			}
		}

#loading{
	  height: 100%;
    opacity: 0.5;
    position: fixed;
    width: 100%;
    z-index: 999;
		background-color: #4A4A4A;
		text-align: center;
		padding-top: 20%;
}