// Place all the styles related to the Empresas controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#sobre_page{
	width: 60%;
	margin: auto;
	background-color: #F8F8F2;
	border: 0.5px solid #CFC9CF;
	border-radius: 8px;
	padding: 0 15px 0 15px;
	p{
			margin: 14px 0 14px 0;
	}
	li.sim_nao{
		padding-bottom: 25px;
		position: relative;
		p {
			img{
				height: 50px;
				top: 20px;
				position: absolute;
			}
		}
	}
	h2{
		margin: 4px 0 4px 0;
	}

}
