$background: #4A4A4A;
$background_content: #FAFAFA;
$header_height: 110px;
$Ex_color: #E68643;

html {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  margin: 0px;
  padding: 0px;
  font-family: "Verdana","Georgia","Palatino","Palatino Linotype","Times","Times New Roman";
	background-color: $background;
	min-width: 913px;
}

body {
  width: 100%;
  height: 100%;
  margin: 0px auto;
  padding: 0px;
}

div {
  margin: 0px;
  padding: 0px;
}

div.cf {
  clear: both;
  width: 0px;
  height: 0px;
}

a{
	color: $Ex_color;
	text-decoration:none;
}

a:hover{
	text-decoration: underline;
}

div.content {
  margin: 0 auto;
	padding: 1.2%;
  width: 93%;
	background-color: $background_content;
	border-radius: 8px;
	color: $background;
	min-height: 550px;
	#usuario{
		margin: 0;
		text-align: center;
	}
	h1{
		text-align: center;
		margin: 10px 0;
	}
	h2{
		text-align: center;
		margin: 10px 0;
	}
}


header {
  padding: 0 2% 0;
	position:relative;
	div.site_id {
		float: left;
		h1 {
			margin: 0px;
			color: $background_content;
			font-size: 50px;
			span{
				color: $Ex_color;
			}
		}
		a{
			margin: 0px;
			padding: 0px;
			position: absolute;
			top: 70px;
			left: 3%;
			img{
				margin: 0px;
				padding: 0px;
			}
		}
	}
	
	div.menu {
		position: absolute;
		bottom: 0px;
		left: 250px;
		ul{
			list-style:inside none;
			padding:0;
			margin:0;
			li {
				ist-style:inside none;
				padding:0; 
				margin:0 5px 0 0;
				float:left;
				display:block;
				position:relative;
				a{
					border-radius: 8px 8px 0px 0px;
					outline:none;
					display:block;
					position:relative;
					padding:5px 20px;
					font:bold 13px/100%;
					text-align:center;
					text-decoration:none;
					text-shadow:1px;
					color: $background_content;
					width: 100px;
					height: 25px;
				}
				a.selected{
					background-color:$background_content;
					color: #5B584F;
				}
				a:hover{
					background-color:$Ex_color;
					color: $background_content;
				}
			}
		}
	}
}



div.paging{
		text-align: center;
		font-size:14px;
		margin: 10px 0 10px 0;
		nav{
			span{
				a{
					width:100%;
					padding:2px 4px 3px 4px;
					border:solid 1px #DDDDDD;
					text-decoration:none;
					color:#4A4A4A;
				}
				a:hover{
					background:#4A4A4A;
					color: #FAFAFA;
				}
			}
			span.current{
				ont-weight:bold;
				color: #E68643;
			}
		}
	
	}
	
	
	

//scaffold mensagem de erro nos formulários
#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}

