
			
			<footer class="cf">
				<center>
				<small>2012 <span class="license">Criador <a href="http://twitter.com/luiz_pqt">Luiz Costa</a> <span class="amp">&amp;</span> <a href="http://elifex.com.br">Elifex</a></span>. Released under <a href="http://unlicense.org">Unlicense</a>. Text provided by <a href="http://twitter.com/fernandacosta">Fernada Costa</a>.</small>
					<center>
			</footer>
			
			
	