
		
			<header>
			
				<div class="site_id">
					<h1><span>E</span>life<span>x</span></h1> 
					<%= link_to image_tag("facebook_connect.png"), "#" %>
				</div>
				
				<div class="menu">
					<%=render_navigation%>
				</div>
				
				
				<div class="cf"></div>
			</header>