		<%if usuario_signed_in?%>
<h4 id="usuario">
			Nome: <%=current_usuario.nome%> | Quantidade Votos: <span id="pontos"><%=current_usuario.pontos%></span>  
			<%if params[:controller] == 'premios'%>
				|<%=link_to 'Vote', empresas_path, :remote => true%>
			<%else%>
				<%if params[:controller] == 'empresas'%>
					|<%=link_to 'Prêmios', premios_path, :remote => true%>
				<%end%>
			<%end%>
</h4>

<%else%>
<h2 style="text-align: center;">Vote e concorra a um Ipad.</h2>
		<%end%>

 