<div class="mural premio" id="Premio<%=premio.id%>">
		<h3><%= premio.nome %></h3>
		<%=image_tag(premio.image)%>
		<div class="info" >
			
			<%=concorrer_buttom(premio)%>
		
		</div>
				
		<div class="cf"></div>
</div>
